:textile
  h2. Очень надоевшие вопросы
  
  h3. Как считаеться рейтинг?

  
  bq. score = (wins + 0.5 * draws) / games_played
  
  А еще, у нас есть пенальти, для игроков которые сыграли меньше 10 игр.
  
  <br />
  
  h3. А у меня есть еще вопрос.
  
  Задай его в "твитере":http://twitter.com/rubynoname и мы его добавим на эту страницу.
  Багрепорты посылать туда же.