:textile
  h2. Конкурс имени безимянного подкаста.
  
  Идея конкурса честно заимствована у "Университета Ватерлоу":http://csclub.uwaterloo.ca/, но это не делает этот конкурс менее ценным. 
  Потому что во-первых, у нас есть "приз":yummy, а у них нет, и во-вторых, у нас только рубиисты. A втретьих, не что не мешает вам победить у нас и потом победить у них.
  
  Итак, в чем, собственно говоря, дело? Ваша задача написать AI для игры в "Tron":http://en.wikipedia.org/wiki/Tron_(video_game). Звучит интересно? 
  Ну тогда почитайте "правила":rules, и "начинайте":users/new писать ваших ботов.