%h2 Post-hook

%p
  Для того чтобы держать твою змейку в актуальном состоянии, ты должен
  указать в своем репо post-hook на:
  
%blockquote http://rnp.startika.com/touch-me

%p= link_to 'Сделать это очень просто', 'http://help.github.com/post-receive-hooks/'
  
%p 
  %b Перед тем, как писать багрепорт.
  Не забудь сделать push, после настройки post-hook.