:textile
  h2. Правила

  Для участия в соревновании необходимо:
  
  * Скачать "стартер-кит":/ruby_starter_package.zip
  * Написать бота
  * Выложить его на гитхаб
  * Зарегистрироваться у нас

  В процессе конкурса можно следить за своими успехами на "этой странице":/users
  Конкурс будет длиться две недели, о окончании приема ботов мы сообщим в твиттере.
  Победитель будет определен в отдельном турнире между всеми ботами, промежуточные результаты учитываться не будут.

  При написании бота следует учесть следующие ограничения:
  * Весь код должен быть в одном файле
  * Все директивы require будут удалены
  * Код исполняется с $SAFE = 3
  * Лимит времени на один ход — 3 секунды

  Мы понимаем что многим захочется попробовать с помощью бота попортить наш сервер. Пожалуйста, не делайте этого, мы обидимся =)

