%h2 Спасибо, мы записали!

%p
  А ты родил сына, построил дом, посадил дерево, #{"<span>#{@user.nick}</span>"}?

%p
  Но самое главное, не забудь про
  = link_to 'post-hook', page_path('hook')

%p
  Мы заберем твой, код сразу после того как ты разберешься с post-hook и сделаешь push.