<h1>GitHub repo URL</h1>
<p>example: git://github.com/gregory-m/RNP-Contest-Bot.git</p>

<% form_for :user, @user, :url => { :action => "create" } do |f| %>
      <%= f.text_field :repo_url %>
      <%= submit_tag 'Yarrr' %>
<% end %>