@import compass/reset
@import compass/utilities.sass
@import compass/layout.sass

body
  font-family: Arial
  background: #F9F7F1

#dark-side  
  background: #1E1E1E
  padding-top: 45px
  width: 580px
  position: fixed
  top: 0
  left: 0
  height: 100%
  
  a
    &:hover
      h1
        color: #D1FF89
        strong
          color: #D1FF89
  
  h1
    color: #F959A3
    font-size: 50px
    line-height: 60px
    width: 550px
    text-align: right
  
    strong
      color: #17D3FE
      font-size: 70px
      
  ul
    float: right
    padding-top: 50px
    li
      height: 50px
      text-align: right
      span
        background: #F9F7F1
        font-size: 16px
        padding: 8px 15px
        color: #777A69
        
      a  
        text-decoration: none
        span
          color: #E6E6E6
          background: #2F2F2F
          &:hover
            background: #D1FF89
            color: #090909
    
#content
  float: left
  margin: 60px 0 0 610px
  width: 350px
  
  h2
    color: #B1B0A9
    font-size: 35px
    line-height: 35px
    padding-bottom: 15px
    
  h3
    font-size: 22px
    line-height: 22px
    padding-bottom: 15px
    color: #696057
  
  blockquote
    padding: 6px 10px
    background: #F2F2ED
    color: #877E7E
    border: #B7B4B4 1px solid
    font-size: 14px
    margin-bottom: 15px
    
  p
    font-size: 18px
    line-height: 22px
    padding-bottom: 20px
    
    &.error
      color: #D60B0B
      font-size: 14px
      padding-top: 10px
      width: 300px
    
    span
      color: #770B1A
      font-weight: bold
  form
    margin: 20px 0 30px
    
    .fieldWithErrors
      display: inline
      
      input.url
        border-color: #D60B0B
    
    input.url
      font-size: 14px
      padding: 8px 6px
      border: 1px solid #483E3E
  
  a
    color: #770B1A
    &:hover
      color: #BC0D24

  ul
    li.place
      font-size: 20px
      line-height: 20px
      padding: 10px 0px
      
      &.place-1
        font-size: 45px
        line-height: 45px
        
      &.place-2, &.place-3
        font-size: 36px
        line-height: 36px

      a
        color: #4D4646
        text-decoration: none
        &:hover 
          color: #AA8E8E

      span.place-num
        display: inline-block
        width: 25px
        color: #CFCFCF
        
      span.description
        display: inline-block
        width: 25px
        color: #CFCFCF